/* Un-opinionated CSS reset (adapted from modern-css-reset) */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --light-source-luminance: 0; /* value for luminance channel of LCH */
  --light-source-chroma: 0;    /* value for chroma channel of LCH */
  --light-source-hue: 0;       /* value for hue channel of LCH */
}
